{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="{% static "img/DMCA logo.png" %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <!--OVERWRITE DEFAULT CSS PROPERTIES-->
  <style>
    #landing {
      height: 100vh;
      background-image: url('{% static "img/bg.png" %}');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      z-index: -1;
    }

    .blinking {
      animation: blinker 0.5s linear infinite;
    }

    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }

    .preloader-background {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #eee;
      position: fixed;
      z-index: 999;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .loding {
      padding-top: 120px;
      margin-left: -60px;
      opacity: 0.8;
    }

    nav {
      height: 45px;
      line-height: 45px;
    }

    nav i,
    nav [class^="mdi-"],
    nav [class*="mdi-"],
    nav i.material-icons {
      height: 45px;
      line-height: 45px;
    }

    nav .button-collapse i {
      height: 45px;
      line-height: 45px;
    }

    nav .brand-logo {
      font-size: 1.3rem;
    }

    .navbar-material .nav-wrapper .brand-logo img {
      height: 20px;
    }

    @media only screen and (min-width: 601px) {

      nav,
      nav .nav-wrapper i,
      nav a.button-collapse,
      nav a.button-collapse i {
        height: 45px;
        line-height: 45px;
      }
    }

    #slideshow {
      position: relative;
    }

    #slideshow>div {
      position: absolute;
      top: 0px;
      left: 10px;
      right: 10px;
      bottom: 10px;
    }

    .collapsible-collection {
      margin-top: 0;
    }
  </style>
  <title>{% block title %}{% endblock title %}</title>
</head>

<body id="landing">
  {% if request.user.is_authenticated %}
  <nav>
    <div class="navbar-fixed ">
      <nav>
        <div class="nav-wrapper white">
          <button class="btn-flat sidenav-trigger button-collapse" data-target="slide-out" style="top: -8px;"><i class="material-icons">menu</i></button>
          <a href="#!" class="brand-logo"><img src="{% static "img/DMCA logo.png" %}" alt="" class="left" style="width:43px"><span
              class="black-text hide-on-med-and-down">&nbsp; Divine Miracle Christian Academy</span> </a>
          <ul class="right hide-on-med-and-down">
            <li> <a href="{% url 'account:dashboard' %}" class="nav-link center black-text"><i class="material-icons black-text left">home</i>
                Home</a></li>
            <li> <a href="{% url 'announcement:view_announcement' %}" class="nav-link center black-text"><i class="material-icons black-text left">email</i>Messages</a></li>
            <li> <a href="{% url 'account:view_edit_profile' %}" class="nav-link center black-text"><i class="material-icons black-text left">account_circle</i>Account</a></li>
            <li> <a href="{% url 'account:dashboard' %}" class="nav-link center black-text"><i class="material-icons black-text left">dvr</i>Dashboard</a></li>
            <li> <a href="" class="nav-link center black-text"><i class="material-icons black-text left">assignment</i>
                Grades</a></li>
                <li> <a href="{% url 'account:change_password' %}" class="nav-link center black-text"><i class="material-icons black-text left">account_circle</i>Change Password</a></li>
            <li> <a href="{% url 'logout' %}" class="nav-link red accent white-text center hoverable"><i class="material-icons left">exit_to_app</i>Logout</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </nav>
  <ul id="slide-out" class="sidenav">
    <li>
      <div class="user-view">
        <div class="background cyan">
        </div>
        {% if request.user.profile.photo.url is not None %}
        <a href="{% url 'account:dashboard' %}"><img class="circle responsive-img" src="{{ request.user.profile.photo.url }}"
            style="object-fit: cover; "></a>
        {% elif request.user.gender == "female" %}
          <a href="{% url 'account:dashboard' %}"><img class="circle" src="{% static "img/girl.svg" %}" style="object-fit: cover;"></a>
        {% elif request.user.gender == "male" %}
          <a href="{% url 'account:dashboard' %}"><img class="circle" src="{% static "img/boy.svg" %}" style="object-fit: cover;"></a>
        {% endif %}
        <a href="{% url 'account:view_edit_profile' %}"><span class="white-text name"><b>{{ request.user.get_full_name }}</b></span></a>
        <span class="white-text email">{{ request.user.email }}</span>
      </div>
    </li>
    <li> <a href="{% url 'account:dashboard' %}" class="black-text"><i class="material-icons black-text left">home</i>
        Home</a></li>
    <li> <a href="{% url 'announcement:view_announcement' %}" class="black-text"><i class="material-icons black-text left">email</i>Messages</a></li>
    <li> <a href="{% url 'account:view_edit_profile' %}" class="black-text"><i class="material-icons black-text left">account_circle</i>Account</a></li>
    <li> <a href="{% url 'account:dashboard' %}" class="black-text"><i class="material-icons black-text left">dvr</i>Dashboard</a></li>
    <li> <a href="" class="black-text"><i class="material-icons black-text left">assignment</i>
        Grades</a></li>
    <li> <a href="{% url 'logout' %}" class="nav-link red accent white-text hoverable"><i class="material-icons left">exit_to_app</i>Logout</a></li>

  </ul>

  {% if not request.user.is_student %}
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large light-green accent-4 pulse">
      <i class="large material-icons">add</i>
    </a>
    <ul>
      <li><a href="{% url 'announcement:draft_announcement' %}" class="btn-floating yellow darken-1"><i class="material-icons">drafts</i></a></li>
      <li><a href="{% url 'announcement:create_announcement' %}" class="btn-floating green"><i class="material-icons">create</i></a></li>
    </ul>
  </div>
  {% endif %}
  {% else %}
  <nav>
    <div class="navbar-fixed ">
      <nav>
        <div class="nav-wrapper white">
          &nbsp; &nbsp; &nbsp;
          <a href="#!" class="brand-logo"><img src="{% static "img/DMCA logo.png" %}" alt="" class="left" style="width:43px"><span
              class="black-text hide-on-med-and-down">&nbsp; Divine Miracle Christian Academy</span> </a>
          <ul class="right hide-on-med-and-down">
            <li> <a href="{% url 'account:dashboard' %}"><i class="material-icons black-text tooltipped" data-tooltip="HOME"
                  data-position="left">home</i></a></li>
            <li>&nbsp &nbsp;&nbsp;</li>
          </ul>
        </div>
      </nav>
    </div>
  </nav>
  <a href="{% url 'login' %}" class="nav-link"></a>
  {% endif %}
  <div id="content">
    {% block content %} {% endblock content %}
  </div>
  <!--footer-->
  <footer class="page-footer blue-grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Divine Miracle Christian Academy of Hermosa (Bataan) Inc.</h5>
          <p class="grey-text text-lighten-4">
            Train up a child in the way he should go: and when he is old, he will not depart from it. -Proverbs 22:6
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Offerings</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Nursery</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Kindergarten</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Grade 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Grade 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Grade 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Grade 4</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Grade 5</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        DMCA of Hermosa Inc.© 2018-2019
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <script>
    $("#slideshow > div:gt(0)").hide();

    setInterval(function () {
      $('#slideshow > div:first')
        .fadeOut(1000)
        .next()
        .fadeIn(1000)
        .end()
        .appendTo('#slideshow');
    }, 3000);
  </script>
  <script>
    $(document).ready(function () {
      $('ul.tabs').tabs({});
    });
    }
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.tooltipped');
      var instances = M.Tooltip.init(elems, {
        enterDelay: 250
      });
    });
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.datepicker');
      var instances = M.Datepicker.init(elems, {
        format: 'm/d/yyyy'
      });
    });
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.modal');
      var instances = M.Modal.init(elems, {

      });
    });
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.fixed-action-btn');
      var instances = M.FloatingActionButton.init(elems, {
        direction: 'top'
      });
    });
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.dropdown-trigger');
      var instances = M.Dropdown.init(elems, {
        hover: 'true'
      });
    });
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems, {
        draggable: 'true'
      });
    });
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems, {});
    });
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.collapsible');
      var instances = M.Collapsible.init(elems, {

      });
    });
  </script>
  {% if messages %}
  <script>
    $(function () {
      window.onload = $('#submit_btn').click();
    });
  </script>
  {% endif %}
</body>

</html>