<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ request.user.get_short_name }}| {{ request.user.staff_profile.position }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <form method="POST" action=".">
        {% csrf_token %}
        {{ finalGrade_form.as_p }}
        <input type="submit" value="Submit"/>
    </form>
    <a href="{% url 'administrator:view_users' %}" >View Users</a>
</body>
</html>