{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ request.user.get_short_name }}|Edit User{% endblock title %}
{% block content %}
<div>
    <form method="POST" action="." enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {{ dynamic_profile_form.as_p }}
        <button type="submit">Save Changes</button>
    </form>
        <a href="{% url 'administrator:view_users' %}">View Users</a>
</div>
{% endblock content %}