{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Edit Subject{% endblock title %}
{% block content %}
<div class="white">
    <br><br>
    <div class="container">
        <center><img src="{% static 'img/language.svg' %}" style="object-fit: fill; height: 150px"> <br><h5><b> Edit Subject</b></h5></center>
        <form method="POST" action="{% url 'administrator:edit_subject' subject.slug user_id %}">
                {% csrf_token %}
                {{ edit_subject_form.as_p }}
                <button class="btn" style="width:100%;" type="submit">Save Changes</button>
            </form>
    </div>
    <br><br>
</div>
{% endblock content %}