{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ target_user.get_short_name }}|{{ subjectGrade.subject.subject_name }}{% endblock title %}
{% block content %}
<div class="white">
<br><br>
<div class="container">
    <div>
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        <form method="POST" action="{% url 'administrator:edit_subjectGrade_admin' target_user.id target_user.get_full_name subjectGrade.id %}">
            {% csrf_token %}
            {{ subjectGrade_edit_form.as_p }}
            <input type="submit" value="Submit" />
        </form>
        <a href="{{ target_user.student_profile.enrollment_admission_link }}">Back</a>
    </div>
</div>
<br><br>
</div>
{% endblock content %}