{% extends 'base.html' %}
{% block title %}{{ request.user.get_full_name }} | Dashboard{% endblock title %}
{% block content %}
{% load announcement_tags %}
{% load staticfiles %}
<div class="white">
<br><br>
<div class="container">
    <div class="card">
        <div class="card-content">
            <form method="POST" action="{% url 'administrator:edit_student_finalLevelGradeAdmin' finalGrade.id student_user.get_full_name %}">
                {% csrf_token %}
                {{ finalGrade_form.as_p }}
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
    {% for message in messages %}
    <p>
        {{ message }}
    </p>    
    {% endfor %}
    
    <a href="{% url 'administrator:enrollment_admission' student_user.id student_user.get_full_name %}" >Back</a>
</div>
</div>
{% endblock content %}