<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ student_user.get_full_name }}|{{ student_user.student_profile.level_and_section }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <div>
        <a href="{% url 'administrator:create_subject' student_user.id %}" role="button">Add Subject</a>
        <a href="{% url 'administrator:view_users' %}" role="button">Manage Users</a>
    </div>
    <ul style="list-style-type:none">
        <li>Name: {{ student_user.get_full_name }}</li>
        <li>Year and Section: {{ student_user.student_profile.level_and_section }}</li>
        <li>Adviser: {{ student_user.student_profile.level_and_section.adviser.get_full_name }}</li>
    </ul>
    <h3>Enrolled Subjects</h3>
    {% if enrolled_subjects %}
    <table border="1">
        <th>Subject</th>
        <th>Instructor</th>
        <th>Year and Section</th>
        <th>School Year</th>
        <th>Option</th>
        {% for each_subject in enrolled_subjects %}
            <tr>
                <td>{{ each_subject.subject.subject_name }}</td>
                <td>{{ each_subject.instructor }}</td>
                <td>{{ each_subject.subject.level_and_section }}</td>
                <td>{{ each_subject.school_year }}</td>
                <td>
                    <a href="{% url 'administrator:edit_subjectGrade_admin' student_user.id student_user.get_full_name each_subject.id %}">Edit Grade</a>
                    <a href="{% url 'administrator:delete_subject_grade' each_subject.student.user.id each_subject.student.user.get_full_name each_subject.id %}"
                    onclick="return confirm('Are you sure you want to DELETE {{each_subject.subject.subject_name}} for {{each_subject.student}}?')">
                    Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        No Result..
    {% endif %}
    <br/>



    <h3>Available Subjects</h3>
    {% if available_subjects %}
    <strong>Select all the subjects you want for the user to be enrolled in</strong>
    <table border="1">
        <th>Subject</th>
        <th>Year and Section</th>
        <th>Instructor</th>
        <th>Option</th>
        <form method="POST" action=".">
            {% csrf_token %}
            {% for each_subject in available_subjects %}
                <tr>
                    <td>
                        <input type='checkbox' name='subjectList' value='{{ each_subject.id }}' id='{{ each_subject.id }}' />
                        <span><label class='list' for='{{ each_subject.id }}'> {{ each_subject.subject_name }} </label></span>
                    </td>
                    <td>{{ each_subject.level_and_section }}</td>
                    <td>{{ each_subject.designated_instructor.user.get_full_name }}</td>
                    <td>
                        <a href="{% url 'administrator:edit_subject' each_subject.slug student_user.id %}">Edit</a> 
                        <a href="{% url 'administrator:delete_subject' each_subject.slug student_user.id%}" 
                            onclick="return confirm('Are you sure you want to DELETE {{each_subject.subject_name}} for {{each_subject.level_and_section}}?')">
                            Delete</a>
                    </td>
                </tr>
            {% endfor %}
            <input type="submit" id="submit-form" style="display:none"/>
        </form>
    </table>
    {% else %}
        No Result..
    {% endif %}
    <br/>
    <div>
        <button><label for="submit-form" tabindex="0">Submit</label></button>
    </div>

</body>
</html>