{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
Manage Request
{% endblock title%}
{% block content %}
<div class="white">
<br>
<div class="container">
    <div class="card">
        <div class="card-content">
            <center><img src="{% static 'img/curriculum.svg' %}" style="object-fit: fill; max-height: 180px"></center>
            <div id="modal1" class="modal">
                <div class="modal-content">
                    {% for message in messages %}
                    <center><img src="{% static 'img/checked.svg' %}" style="object-fit: fill; max-height: 100px"> <br><h5><b>{{ message }}</b></h5></center>
                    {% endfor %} 
                </div>
                <div class="modal-footer">
                    <a href="{% url 'administrator:view_appointment_request' %}" class="modal-close waves-effect waves-green btn-flat">OK</a>
                </div>
            </div>
            <form method="POST" action="{% url 'administrator:update_appointment_request' appointment_request_instance.id appointment_request_instance.slug %}">
                <button id="submit_btn" class="waves-effect waves-light btn modal-trigger hiddendiv" href="#modal1">Modal</button>
                {% csrf_token %}
                {{ update_appointment_request_form.as_p }}
                <input class="btn" type="submit" value="Update" style="width:100%"/>
            </form>
        </div>
    </div>
</div>
<br>
</div>
{% endblock content %}