<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DMCA|Administrator|View Users</title>
</head>
<body>
    <h1>Accounts and Users</h1>
    <form action="" method="GET">
        <input type="text" placeholder="Search users" name="query" value="{{ request.GET.query }}"/>
        <input type="submit" value="Search"/>
    </form>
    <a href="{% url 'administrator:create_user' %}" role="button">Add New User?</a><br/>
    <table border="1">
        <th>Full Name</th>
        <th>Email</th>
        <th>Account Type</th>
        <th>Account Status</th>
        <th>Birthday</th>
        <th>Address</th>
        <th>Level and Section</th>
        <th>Contact Number</th>
        <th>Contact Person</th>
        <th>Options</th>
        {% for user in users %}
        <tr>
            <td><a href="{% url 'administrator:edit_user' user_id=user.id %}">{{ user.get_full_name }}</a></td>
            <td>{{ user.email }}</td>
            <td>
                {% if user.is_student %}
                    Student
                {% elif user.is_teacher %}
                    Teacher
                {% elif user.is_staff %}
                    Staff
                {% endif %}
            </td>
            <td>
                {% if user.is_active %}
                    Active
                {% else %}
                    Inactive
                {% endif %}
            </td>
            <td>{{ user.date_of_birth }}</td>
            <td>{{ user.address }}</td>
            {% if user.profile is not None %}
                {% if user.is_staff %}
                <td>N/A</td>
                {% else %}
                    <td>{{ user.profile.level_and_section.level }} {{ user.profile.level_and_section.section }}</td>
                {% endif %}
                <td>{{ user.profile.phone_number }}</td>
                <td>{{ user.profile.contact_person }}</td>
            {% else %}
                <td>Not Set</td>
                <td>Not Set</td>
                <td>Not Set</td>
            {% endif %}
            <td>
                <a 
                href="{% url 'administrator:delete_user' user.id %}" 
                onclick="return confirm('Are you sure you want to DELETE {{user.get_full_name}}?')">
                    Delete
                </a>
                <a href="{% url 'administrator:edit_user' user.id %}">Edit</a>
            </td>
            
        </tr>
        {% empty %}
        None
        {% endfor %}
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if users.has_previous %}
                <a href="?page=1&query={{ request.GET.query }}">&laquo; first</a>
                <a href="?page={{ users.previous_page_number }}&query={{ request.GET.query }}">previous</a>
            {% endif %}
        
            <span class="current">
                Page {{ users.number }} of {{ users.paginator.num_pages }}.
            </span>
        
            {% if users.has_next %}
                <a href="?page={{ users.next_page_number }}&query={{ request.GET.query }}">next</a>
                <a href="?page={{ users.paginator.num_pages }}&query={{ request.GET.query }}">last &raquo;</a>
            {% endif %}
        </span>
        <a href="{% url 'account:dashboard' %}">Return to Dashboard</a>
    </div>
</body>
</html>