{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ request.user.get_short_name }}|{{ request.user.staff_profile.position }}{% endblock title %}
{% block content %}
<div class="white">
    <br>
    <div class="row">
        <div class="col s3">
            <div class="card">
                <div class="card-content">
                    <center><img src="{% static 'img/desk.svg' %}" style="object-fit: fill; max-width: 60%"></center>
                    <span class="card-title"><h4 class="center"><b>Create Section</b></h4></span>
                    <form method="POST" action=".">
                        {% csrf_token %}
                        {{ level_section_create_form.as_p }}
                        <div class="row">
                            <div class="col s6">
                                <button class="btn waves-effect" type="submit" style="width:100%">Submit</button>
                            </div>
                            <div class="col s6">
                                <button class="btn waves-effect" type="reset" style="width:100%">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s9">
            <div class="card">
                    <div class="card-content">
                            <span class="card-title"><h4 class="center"><b>Current Level and Section</b></h4></span>
                            <table border="1" class="highlight centered">
                                    <th><center>Level</center></th>
                                    <th><center>Section</center></th>
                                    <th><center>Adviser</center></th>
                                    <th><center>Date Created</center></th>
                                    <th><center>Updated</center></th>
                                    <th><center>Students</center></th>
                                    <th><center>Action</center></th>
                            
                                    {% for each in level_section %}
                                        <tr>
                                            <td>{{ each.level|title }}</td>
                                            <td>{{ each.section }}</td>
                                            <td>{{ each.adviser.user.get_full_name }}</td>
                                            <td>{{ each.date_created }}</td>
                                            <td>{{ each.updated }}</td>
                                            <td> {{ each.students.count }} </td>
                                            <td>
                                                <a class="btn-flat" href="{% url 'administrator:edit_level_section' level_section_id=each.id %}"><i class="material-icons center">edit</i></a> 
                                                <a class="btn-flat" href="{% url 'administrator:delete_level_section' level_section_id=each.id %}" role="button"><i class="material-icons center">delete</i></a>
                                            </td>
                                        </tr>
                                     {% endfor %}
                                </table>
                                <br/>
                                <ul class="pagination">
                                    <span class="step-links">
                                        {% if level_section.has_previous %}
                                        <li class="waves-effect"><a href="?page=1"><i class="material-icons">first_page</i></a></li>
                                        <li class="waves-effect"><a href="?page={{ level_section.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
                                        {% endif %}
                                        <li>
                                            <a class="current">
                                                Page {{ level_section.number }} of {{ level_section.paginator.num_pages }}.
                                            </a>
                                        </li>
                                        
                                    
                                        {% if level_section.has_next %}
                                        <li class="waves-effect"><a href="?page={{ level_section.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
                                        <li class="waves-effect"><a href="?page={{ level_section.paginator.num_pages }}"><i class="material-icons">last_page</i></a></li>
                                        {% endif %}
                                    </span>
                                </ul>
                            
                        </div>
            </div>
            
        </div>
    </div>
    
    


<br><br>   
    
</div>
{% endblock content %}