{% extends 'base.html' %}
{% block title %}Manage Year Level{% endblock title %}
{% block content%}
{% load administrator_tags %}
{% load staticfiles %}
<div class="white">
    <br><br>
    

    <div class="container">

        <div class="row">
            <div class="col s12 m12 l4">
                <div class="card">
                    <div class="card-content">
                        <center><img src="{% static 'img/board.svg' %}" style="object-fit: fill; max-width: 100%"></center>
                        <form method="POST" action=".">
                            {% csrf_token %}
                            <center>{{ year_level_create_form.as_p }}</center>
                            <input class="btn" style="width: 100%" type="submit" value="Create" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l8">
                <div class="card">
                    <div class="card-content">
                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}
                        {% if year_levels %}
                        <table class="highlight" border="1">
                            <th>Year Level</th>
                            <th>Date Created</th>
                            <th>No. of Students</th>
                            {% for year_level in year_levels %}
                            <tr>
                                <td>{{ year_level.level }}</td>
                                <td>{{ year_level.date_created }}</td>
                                <td>{% total_students_per_year year_level.id %}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        {% else %}
                        <p>No year level created so far.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <br>
</div>
{% endblock content %}