{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}SY: {{ final_LevelGrade.school_year }} | Final Grade |{{student_user.get_full_name}}|{{ student_user.student_profile.level_and_section }}{% endblock title %}
{% block content %}
<div class="white">
<br><br>
<div>
    <div>
        <p>Student: {{ student_user.get_full_name }}</p>
        <p>Section: {{ student_user.student_profile.level_and_section }}</p>
    </div>

    <h3>Subjects</h3>
    <div>
        <table border="1">
            <th>Subject</th>
            <th>SY</th>
            <th>First Quarter</th>
            <th>Second Quarter</th>
            <th>Third Quarter</th>
            <th>Fourth Quarter</th>
            <th>Final Subject Grade</th>
            <th>Option</th>
            {% for each_subject in year_level_subjects %}
                <tr>
                    <td>{{ each_subject.subject.subject_name }}</td>
                    <td>{{ each_subject.school_year }}</td>
                    {% if each_subject.first_quarter %}
                        <td>{{ each_subject.first_quarter }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    {% if each_subject.second_quarter %}
                        <td>{{ each_subject.second_quarter }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    {% if each_subject.third_quarter %}
                        <td>{{ each_subject.third_quarter }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    {% if each_subject.fourth_quarter %}
                        <td>{{ each_subject.fourth_quarter }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    {% if each_subject.final_subject_grade %}
                        <td>{{ each_subject.final_subject_grade }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    <td>
                        <a href="{% url 'grading_system:edit_student_subjectGrade' student_user.id student_user.get_full_name each_subject.id %}" target="_blank">
                            Update
                        </a>
                    </td>
                </tr>
        {% endfor %}
        </table>
    </div>
    <ul>  
    {% for message in messages %}
        <li>{{message}}</li>
    {% endfor %}
    </ul>
    <form method="POST" action="{% url 'grading_system:edit_student_finalgrade' student_user.id level_and_section.level.id %}">
        {% csrf_token %}
        {{ finalGrade_form.as_p }}
        <input type="submit" value="Submit" />
    </form>
    <a href="{% url 'grading_system:view_assigned_subject' %}" >Subjects</a>
    <a href="{% url 'grading_system:view_students_finalgrade' %}" >Back</a>
</div>

</div>
{% endblock content %}