{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ subject.subject_name }}|{{ year_section }}{% endblock title %}
{% block content %}
    <div class="white">
        <br><br>
        <div class="container">
                <div>
                        <h5>Students of {{ year_section }}</h5>
                        <form action="" method="GET">
                            <input type="text" placeholder="Search Students" name="yearSection_query" value="{{ request.GET.yearSection_query }}"/>
                            <input type="submit" value="Search"/>
                        </form>
                        {% if yearSectionStudents %}
                            {% for student in yearSectionStudents %}
                            <p> 
                                {{ student.user.get_full_name }} 
                                <a  href="{% url 'grading_system:view_student_profile' student.user.id student.user.get_short_name %}">
                                    View Profile
                                </a>
                            </p>    
                            {% endfor %}
                        {% else %}
                            No Results...
                        {% endif %}
                    </div>
                    
                    <div class="pagination">
                        <span class="step-links">
                            {% if yearSectionStudents.has_previous %}
                                <a href="?yearSection_page=1&yearSection_query={{ request.GET.yearSection_query }}">&laquo; first</a>
                                <a href="?yearSection_page={{ yearSectionStudents.previous_page_number }}&yearSection_query={{ request.GET.yearSection_query }}">previous</a>
                            {% endif %}
                                    
                            {% if yearSectionStudents %}
                                <span class="current">
                                    Page {{ yearSectionStudents.number }} of {{ yearSectionStudents.paginator.num_pages }}.
                                </span>
                            {% endif %}
                        
                            {% if yearSectionStudents.has_next %}
                                <a href="?yearSection_page={{ yearSectionStudents.next_page_number }}&yearSection_query={{ request.GET.yearSection_query }}">next</a>
                                <a href="?yearSection_page={{ yearSectionStudents.paginator.num_pages }}&yearSection_query={{ request.GET.yearSection_query }}">last &raquo;</a>
                            {% endif %}
                        </span>
                        </div>
                        <center><b><h6><hr class="grey"></h6></b></center>
            
                    <div>
                        <h5>Students Enrolled in {{ subject.subject_name }} </h5>
                        <form action="" method="GET">
                            <input type="text" placeholder="Search Students" name="enrolledStudent_query" value="{{ request.GET.enrolledStudent_query }}"/>
                            <input type="submit" value="Search"/>
                        </form>
                        {% if enrolledStudentsPerSubject %}
                            {% for instance in enrolledStudentsPerSubject %}
                                <p>
                                    {{ instance.student.user.get_full_name }}
                                    <a href="{% url 'grading_system:edit_student_subjectGrade' instance.student.user.id instance.student.user.get_full_name instance.id %}">
                                        Update Grade
                                    </a>
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div> 
                    <div class="pagination">
                        <span class="step-links">
                            {% if enrolledStudentsPerSubject.has_previous %}
                                <a href="?enrolledStudent_page=1&enrolledStudent_query={{ request.GET.enrolledStudent_query }}">&laquo; first</a>
                                <a href="?enrolledStudent_page={{ enrolledStudentsPerSubject.previous_page_number }}&enrolledStudent_query={{ request.GET.enrolledStudent_query }}">previous</a>
                            {% endif %}
                                    
                            {% if enrolledStudentsPerSubject %}
                                <span class="current">
                                    Page {{ enrolledStudentsPerSubject.number }} of {{ enrolledStudentsPerSubject.paginator.num_pages }}.
                                </span>
                            {% endif %}
                        
                            {% if enrolledStudentsPerSubject.has_next %}
                                <a href="?enrolledStudent_page={{ enrolledStudentsPerSubject.next_page_number }}&enrolledStudent_query={{ request.GET.enrolledStudent_query }}">next</a>
                                <a href="?enrolledStudent_page={{ enrolledStudentsPerSubject.paginator.num_pages }}&enrolledStudent_query={{ request.GET.enrolledStudent_query }}">last &raquo;</a>
                            {% endif %}
                            </span>
                    </div>
                    <center><b><h6><hr class="grey"></h6></b></center>
                <a  href="{% url 'grading_system:view_assigned_subject' %}" class="col s12">Back</a>
        </div>
        <br><br>
    </div>
{% endblock content %}