<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Final Grade | {{ current_school_year }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <div>
        <form action="" method="GET">
            <input type="text" placeholder="Search Students" name="student_query" value="{{ request.GET.student_query }}"/>
            <input type="submit" value="Search"/>
        </form>

        <table border="1">
                <th>Full Name</th>
                <th>LRN</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th>Parent/Guardian</th>
                <th>Contact Number</th>
                <th>Year and Section</th>
                <th>Option</th>
                {% for student in students %}
                <tr>
                    <td>{{ student.get_full_name }}</td>
                    <td>{{ student.student_profile.learner_reference_number }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.profile.phone_number }}</td>
                    <td>{{ student.student_profile.guardian }}</td>
                    <td>{{ student.student_profile.guardian_contact_number }}</td>
                    <td>{{ student.student_profile.level_and_section }}</td>
                    <td><a href="{% url 'grading_system:edit_student_finalgrade' student.id student.student_profile.level_and_section.level.id  %}">Update</a></td>
                </tr>
                {% empty %}
                    Empty Result.
                {% endfor %}
            </table>    

        <div class="pagination">
            <span class="step-links">
                {% if students.has_previous %}
                    <a href="?student_page=1&student_query={{ request.GET.student_query }}">&laquo; first</a>
                    <a href="?student_page={{ student.previous_page_number }}&student_query={{ request.GET.student_query }}">previous</a>
                {% endif %}
                        
                {% if students %}
                    <span class="current">
                        Page {{ students.number }} of {{ students.paginator.num_pages }}.
                    </span>
                {% endif %}
            
                {% if students.has_next %}
                    <a href="?student_page={{ students.next_page_number }}&student_query={{ request.GET.student_query }}">next</a>
                    <a href="?student_page={{ students.paginator.num_pages }}&student_query={{ request.GET.student_query }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        <a href="{% url 'grading_system:view_assigned_subject' %}">Subjects</a>
    </div>
</body>
</html>