{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block content %}
{% load static %}
{% if request.user.is_authenticated %}
    <meta http-equiv="refresh" content="0;url={% url 'account:dashboard' %}">
{% endif %}
<div>
  <div style="height: 50px;"></div>
  <div>
    <!--LOGIN STRUCTURE -->
    <form action="." method="POST" onsubmit="loading()">
      {% csrf_token %}

      <!-- CARD CONTAINER -->
      <div class="container">
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="card white z-depth-4 ">
              <div id="loadingBar" class="progress center hiddendiv">
                <div class="indeterminate"></div>
              </div>
              <div class="card-content row black-text">
                <div id="slideshow" class="col l5 center  hide-on-med-and-down">
                  <div>
                    
                    <center><img class="col l11" src="{% static 'img/DMCA logo.png' %}" alt="" style="width:105%; object-fit: cover;"></center>
                    
                  </div>
                  <div>
                 
                    <img src="{% static 'img/crayon.svg' %}" style="width:100%; object-fit: fit;">
                  </div>
                  <div>
              
                    <img src="{% static 'img/search.svg' %}" style="width:100%; object-fit: fill;">
                  </div>
                  <div>
               
                    <img src="{% static 'img/earth-globe.svg' %}" style="width:100%; object-fit: fill;">
                  </div>
                  <div>
              
                    <img src="{% static 'img/scholarship.svg' %}" style="width:100%; object-fit: fill;">
                  </div>
                </div>
                <div class="container col s12 m12 l7">
                  <br><br><br>
                  <span class="card-title black-text center">
                    <h5> Sign In</h5>
                  </span>

                  <!-- TEXT input box-->
                  <div class="container black-text">
                    <div class="row">

                      <!--INPUT EMAIL-->
                      <div class="input-field col s12 center">
                        <i class="material-icons prefix">account_circle</i>
                        <input type="email" name="username" autofocus maxlength="254" required id="id_username" />
                        <label for="id_username">Email:</label>
                      </div>

                      <!--INPUT PASSWORD-->
                      <div class="input-field col s12 center">
                        <i class="material-icons prefix">vpn_key</i>
                        <input type="password" name="password" required id="id_password" />
                        <label for="id_password">Password:</label>
                        {% if form.errors %}
                        <span class="helper-text red-text center">Your username and password didn't match. Please try
                          again.</span>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  <div class="col s12 right input-field">
                    <a href="{% url 'password_reset' %}"><span class="helper-text right tooltipped" data-tooltip="Forgot Password?"
                        data-position="bottom">Forgot Password?</span></a>
                  </div><br><br>
                  <div class="col s12 center">
                    <button id="loginButton" type="submit" class="btn btn-large hoverable waves-effect waves-light light-green accent-4
                          tooltipped white-text"
                      data-tooltip="Login"><i class="material-icons right">send</i> Login</button>
                  </div>
                </div>


              </div>

            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div style="height: 100px;"></div>
</div>

<script>
  function loading() {
    var loginButton = document.getElementById("loginButton");
    var loadingBar = document.getElementById("loadingBar");
    var slideshow = document.getElementById("slideshow");
    loadingBar.classList.remove("hiddendiv");
    loginButton.classList.add("disabled");
    //slideshow.classList.add("hiddendiv");

  }
</script>



{% endblock content %}