{% extends 'base.html' %}
{% block title %}Divine Miracle Christian Academy|Login{% endblock title %}
{% block content %}
{% load static %}
<div>
<div style="height: 100px;"></div>
    <div>
        
        <form action="." method="POST">
            {% csrf_token %}
           
            
            <!-- CARD CONATINER-->
        <div class="container">
                <div class="grid-example col s6 m12 center">
                  <div class="card blue-grey lighten-5 z-depth-4">
                    <div class="card-content white-text">
                      <div class="row">
                        <div class="center-align"><img src="{% static "img/DMCA logo.png" %}" alt="" class="circle responsive-img" style="height: 200px;"></div>
                      </div>
                      <span class="card-title flow-text black-text">Login</span>
                     
                      <!-- text input box-->

            <div class="container black-text">
                <form class="center">
                  <div class="row">
                    <div class="input-field flow-text">
                      <i class="material-icons prefix">account_circle</i>
                      <input type="text" name="username" autofocus maxlength="254" required id="id_username" />
                      <label for="id_username">Username:</label>
                    </div>
                    <div class="input-field flow-text">
                      <i class="material-icons prefix">visibility_off</i>
                      <input type="password" name="password" required id="id_password" />  
                      <label for="id_password">Password:</label>
                      {% if form.errors %}
                      <span class="helper-text red-text">Your username and password didn't match. Please try again.</span>
                    </div>
                  </div>
                </form>
              </div>
                      
                     
                      
                      
        {% endif %} <br><br>
        <button type="submit" class="btn btn-large hoverable waves-effect waves-light orange accent-3 "><i class="material-icons right">send</i> Submit</button>
                    </div>
                    <div class="card-action center">
                      
                    </div>
                    <a href=""><i>forgot password?</i></a>
                    <div style="height: 10px;"></div>

                  </div>
                </div>
              </div>

          
                  
    
        </form>
    </div>
    <div style="height: 100px;"></div>
</div>
{% endblock content %}