{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ request.user.get_short_name }} | Create Announcement{% endblock title %}
{% block content %}
<div class="white">
    <br>
    <div class="container">
        <form action="." method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
                <div class="col s4">
                    <br><br>
                    {% if request.user.profile.photo.url is not None %}
                    <center><img class="circle" src="{{ request.user.profile.photo.url }}" style="height: 200px; width:200px; object-fit: cover; " /></center>
                    {% elif request.user.gender == "female" %}
                    <center><img class="circle" src="{% static "img/girl.svg" %}" style="height: 200px; width:200px; object-fit: cover; " /></center>
                    {% elif request.user.gender == "male" %}
                    <center><img class="circle" src="{% static "img/boy.svg" %}" style="height: 200px; width:200px; object-fit: cover; " /></center>
                    {% endif %}

                    <h6 class="center"><u><b>{{ request.user.get_full_name }}</b></u></h6>
                    <center><h6>Author</h6></center>
                </div>
                <div class="col s8">
                    <div class="card">
                        <div class="card-content row">
                            <div class="col s12">
                                <div class="input-field">
                                    <i class="material-icons prefix">title</i>
                                    <input type="text" name="title" maxlength="250" class="validate" required id="id_title">
                                    <label for="id_title">Announcement Title</label>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="input-field">
                                    <i class="material-icons prefix">message</i>
                                    <textarea class="materialize-textarea" name="body" cols="80" rows="20" required id="id_body"></textarea>
                                    <label for="id_body">Type your Message Here....</label>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="right">
                                    <label>
                                        <input type="checkbox" name="send_to_all" id="id_send_to_all">
                                        <span>Send to All?</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="file-field input-field">
                                    <div class="btn">
                                        <span><i class="material-icons right">attachment</i>Attach File(s)</span>
                                        <input type="file" name="file" id="id_file">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col s4">
                                <label for="id_publish_date">Publish date:</label> <input type="text"  class="" name="publish_date" value="{{ create_announcement_form.publish_date.value }}" placeholder="mm/dd/yyyy hour:min" id="id_publish_date">
                            </div>
                            <div class="col s8">
                                <label for="id_send_to_group">Send to what Year and Section:</label> 
                                <select name="send_to_group" id="id_send_to_group">
                                {% for value in create_announcement_form.send_to_group %}
                                    {{ value }}
                                {% endfor %}
                                </select>
                            
                            </div>
                            <div class="col s6">
                                <select name="status" id="id_status">
                                    <option value="" disabled selected>Status</option>
                                    <option value="draft">Draft</option>
                                    <option value="published">Published</option>
                                </select>
                            </div>
                            <div class="col s3">
                                <button class="btn btn-large red waves-effect" type="reset">Reset <i class="material-icons right">format_clear</i></button>
                            </div>
                            <div class="col s3">
                                <div class="center-align">
                                    <button class="btn btn-large indigo waves-effect" type="submit">Send<i class="material-icons right">send</i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br><br>
</div>
{% endblock content %}