{% extends 'base.html' %}
{% block title %}Edit Comment{% endblock title %}
{% block content%}
{% load staticfiles %}
<div class="white">
<br><br>

<div class="container">
    <div class="row">
        <div class="col s4">
            <br><br>
            {% if request.user.profile.photo.url is not None %}
            <center><img class="circle" src="{{ request.user.profile.photo.url }}" style="height: 200px; width:200px; object-fit: cover; " /></center>
            {% elif request.user.gender == "female" %}
            <center><img class="circle" src="{% static "img/girl.png" %}" style="height: 200px; width:200px; object-fit: cover; " /></center>
            {% elif request.user.gender == "male" %}
            <center><img class="circle" src="{% static "img/boy.png" %}" style="height: 200px; width:200px; object-fit: cover; " /></center>
            {% endif %}

            <h6 class="center"><u><b>{{ request.user.get_full_name }}</b></u></h6>
            <center><h6>Author</h6></center>
        </div>
        <div class="col s8">
            <div class="card">
                <div class="card-content">
                    <h6 class="center"><b>Edit your Comment for {{ comment_instance.announcement.title }}</b></h6>
                    <form method="POST" 
                    action="{% url 'announcement:edit_comment' comment_instance.announcement.id comment_instance.announcement.slug comment_instance.id %}">
                        {% csrf_token %}
                        {{ edit_comment_form }}
                        <input class="btn waves-effect" type="submit" value="Submit" title="Edit Comment"/>
                        <a class="btn red waves-effect" href="{% url 'announcement:view_announcement_detail' comment_instance.announcement.id comment_instance.announcement.slug %}">
                        Cancel
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
</div>
<br><br>
</div>
{% endblock content %}