<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <h4>{{ message }}</h4>
        {% endfor %}
    {% endif %}
    <h3>Author: {{ announcement.author.get_full_name }}</h3>
   
    <form method="POST" action="{% url 'announcement:edit_announcement' announcement.id announcement.slug %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ announcement_edit_form.as_p }}
        <input type="submit" value="Submit"/>
    </form>
    <a href="{% url 'announcement:view_announcement' %}">View Announcements</a>
    <a href="{% url 'account:dashboard' %}">Dashboard</a>
</body>
</html>