{% extends 'base.html' %}
{% block title %}{{ request.user.get_full_name }} | Messages{% endblock title %}
{% block content%}
{% load staticfiles %}
<div class="white">
    <div class="row">
        <div class="col s12 m12 l3">
            <br><br>
            <div>
                <div>
                    <div >
                        {% if request.user.profile.photo.url is not None %}
                        <center><img class="circle" src="{{ user.profile.photo.url }}" style="height:240px; width:240px; object-fit: cover;"></center>
                        {% elif request.user.gender == "female" %}
                        <center><img src="{% static 'img/girl.png' %}" style="height:240px; width:240px; object-fit: cover;"></center>
                            
                        {% elif request.user.gender == "male" %}
                        <center><img src="{% static 'img/boy.png' %}" style="height:240px; width:240px; object-fit: cover;"></center>
                        {% endif %}
                    </div>
                    <div class="center">
                        <p>
                            <h6><b>{{ request.user.get_full_name }}</b> </h6>
                        </p>
                        {% if request.user.is_student %}
                        <p>
                            <h6>Level: &nbsp; {{ request.user.student_profile.level_and_section.level }} </h6>
                        </p>
                        <p>
                            <h6>Section: &nbsp; {{ request.user.student_profile.level_and_section.section }} </h6>
                        </p>
                        <p>
                            <h6>Adviser &nbsp; {{ request.user.student_profile.level_and_section.adviser.user.get_full_name }} </h6>
                        </p>
                        {% elif request.user.is_teacher %}
                        <p>
                            <h6>Year and Section:</h6>
                            {% for each in level_and_section %}
                            <h6>{{ each }} &nbsp;</h6>
                            {% endfor %}
                        </p>
                        {% elif request.user.is_staff %}
                        <p>
                            <h6>{{ request.user.staff_profile.position }}</h6>
                        </p>
                        {% endif %}
                    </div>
                    <b><h6><hr class="grey"></h6></b><br>
                    <div class="center">
                        <div class="row">
                            {% if request.user.is_student and request.user.student_profile.level_and_section.level.level %}
                            <div class="col s6">
                                <center><a href="{% url 'grading_system:student_level_section_subject' request.user.student_profile.level_and_section.level.level request.user.student_profile.level_and_section.section %}"><img class="tooltipped" data-tooltip="View Subjects" src="{% static 'img/language.svg' %}" style="object-fit: fill; width:40%"><br><small>View Subjects</small></a> </center>
                            </div>
                            {% elif request.user.is_teacher %}
                            <div class="col s6">
                                <center><a href="{% url 'grading_system:view_assigned_subject' %}"><img class="tooltipped" data-tooltip="View Subjects" src="{% static 'img/language.svg' %}" style="object-fit: fill; width:40%"><br><small>View Subjects</small></a> </center>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="col s12 m12 l9 white">
<br>
            <div id="swipe-1">
                <ul class="collection collapsible popout" data-collapsible="accordion">
                    {% for announcement in school_announcement %}

                    <li class="collection-item avatar z-depth-5">
                        {% if request.user == announcement.author %}
                        <h6 class="" style="font-size: 1rem;">You</h6>
                        {% else %}
                        <h6 class="" style="font-size: 1rem;">{{ announcement.author.get_full_name }}</h6>
                        {% endif %}
                        <div class="collapsible-header">
                            {% if announcement.author.profile.photo.url is not None %}
                                <img class="circle" src="{{ announcement.author.profile.photo.url }}" alt="{{ announcement.author.get_full_name }}" style="object-fit: cover; ">
                            {% elif announcement.author.gender == "female" %}
                                <img class="circle" src="{% static "img/girl.png" %}" alt="{{ announcement.author.get_full_name }}" style="object-fit:cover">
                            {% elif announcement.author.gender == "male" %}
                                <img class="circle" src="{% static "img/boy.png" %}" alt="{{ announcement.author.get_full_name }}" style="object-fit:cover">
                            {% endif %}
                            <span class="title">
                                <a href=""><h6><b>{{ announcement.title }}</b></h6></a> <a  style="font-size: .9rem;" class="black-text" href="{{ announcement.get_absolute_url }}"><i class="material-icons left">forum</i>Join Discussion</a>
                            </span>
                        </div>

                        <div class="collapsible-body white">
                            <p class="black-text">
                                <div class="black-text">
                                    <h6> {{ announcement.body|linebreaks }}</h6> 
                                </div>

                                {% if request.user == announcement.author %} <br> 
                                <small>
                                    <a href="{{ announcement.get_absolute_url_for_edit }}">Edit</a>
                                    <a href="{{ announcement.get_absolute_url_for_delete }}" onclick="return confirm('Are you sure you want to DELETE {{ announcement.title }}')">Delete</a>
                                </small>
                                {% endif %}
                            </p>
                        </div>

                        <span>
                            <small>
                                Date Posted: {{ announcement.publish_date}} Updated: {{ announcement.updated }}
                            </small>
                            <br/>
                        </span>
                    </li>
                    <div style="height:10px; visibility:none;"></div>
                    {% empty %}  <center><img src="{% static 'img/kitty.svg' %}" style="object-fit: fill; height: 300px"> <br> <h5> Your School Inbox is empty.</h5> </center> {% endfor %}
                </ul>
            </div>
            <ul class="pagination">
                    {% if school_announcement.has_previous %}
                    <li class="waves-effect"><a href="?school_page=1"><i class="material-icons">chevron_left</i></a></li>
                    <li class="waves-effect"><a href="?school_page={{ school_announcement.previous_page_number }}"><i class="material-icons">first_page</i></a></li>
                    {% endif %}
                    <li>
                        {% if school_announcement %}
                        <a class="current right">
                            School Announcement(s) - Page {{ school_announcement.number }} of {{ school_announcement.paginator.num_pages }}.
                        </a>
                        {% endif %}
                    </li>
                    
                
                    {% if school_announcement.has_next %}
                    <li class="waves-effect"><a href="?school_page={{ school_announcement.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
                    <li class="waves-effect"><a href="?school_page={{ school_announcement.paginator.num_pages }}"><i class="material-icons">last_page</i></a></li>
                    {% endif %}
            </ul><br>
           
            <b><h6><hr class="grey"></h6></b>
<br>
            <div id="swipe-2">
                <ul class="collection collapsible popout" data-collapsible="accordion">
                    {% for announcement in group_announcement %}

                    <li class="collection-item avatar z-depth-5">
                        {% if request.user == announcement.author %}
                        <h6 class="" style="font-size: 1rem;">You</h6>
                        {% else %}
                        <h6 class="" style="font-size: 1rem;">{{ announcement.author.get_full_name }}</h6>
                        {% endif %}
                        <div class="collapsible-header">
                            {% if  announcement.author.profile.photo.url is not None %}
                                <img class="circle" src="{{ announcement.author.profile.photo.url }}" alt="" style="object-fit: cover; ">
                            {% elif  announcement.author.gender == "female" %}
                                <img class="circle" src="{% static "img/girl.png" %}" alt="" style="object-fit: cover; ">
                            {% elif  announcement.author.gender == "male" %}
                                <img class="circle" src="{% static "img/boy.png" %}" alt="" style="object-fit: cover; ">
                            {% endif %}
                            <span class="title">
                                <a href=""><h6><b>{{ announcement.title }}</b> </h6></a> <a style="font-size: .9rem;" class="black-text" href="{{ announcement.get_absolute_url }}"><i class="material-icons left">forum</i>Join Discussion</a>
                            </span>
                        </div>

                        <div class="collapsible-body white">
                            <p class="black-text">
                                <div class="black-text">
                                    <h6> {{ announcement.body|linebreaks }}</h6>
                                </div>

                                {% if request.user == announcement.author %} <br>
                                <small>
                                    <a href="{{ announcement.get_absolute_url_for_edit }}">Edit</a>
                                    <a href="{{ announcement.get_absolute_url_for_delete }}" onclick="return confirm('Are you sure you want to DELETE {{ announcement.title }}')">Delete</a>
                                </small>
                                {% endif %}
                            </p>
                        </div>

                        <span>
                            <small>
                                Date Posted: {{ announcement.publish_date}} Updated: {{ announcement.updated }} ({{ announcement.send_to_group }})
                            </small>
                            <br/>
                        </span>
                        <a href="#!" class="secondary-content"><i class="material-icons">mail_outline</i></a>
                    </li>
                    <div style="height:10px; visibility:none;"></div>
                    {% empty %}  <center><img src="{% static 'img/fishing.svg' %}" style="object-fit: fill; height: 300px"> <br> <h5> Your Group Inbox is empty.....</h5> </center> </center>
                </ul> {% endfor %}
            </div>

            <ul class="group-pagination">
                    {% if group_announcement.has_previous %}
                    <li class="waves-effect"><a href="?group_page={{ group_announcement.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
                    <li class="waves-effect"><a href="?group_page=1"><i class="material-icons">first_page</i></a></li>
                    {% endif %}
                    <li>
                    {% if group_announcement %}
                    <a class="current">
                        <em>Group Announcement </em> Page {{ group_announcement.number }} of {{ group_announcement.paginator.num_pages }}.
                    </a>
                    {% endif %}
                    </li>
                    {% if group_announcement.has_next %}
                    <li class="waves-effect"><a href="?group_page={{ group_announcement.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
                    <li class="waves-effect"><a href="?group_page={{ group_announcement.paginator.num_pages }}"><i class="material-icons">last_page</i></a></li>
                    {% endif %}
            </ul>    

        </div>
    </div>

    <br>
</div>
<script>
    function hideClassroom() {
        var school = document.getElementById("swipe-1");
        var Classroom = document.getElementById("swipe-2");
        if (Classroom.style.display === "none") {
            Classroom.style.display = "block";
            school.style.display = "none";
        } else {
            Classroom.style.display = "none";
            school.style.display = "block";
        }
    }

    function showBoth() {
        var school = document.getElementById("swipe-1");
        var Classroom = document.getElementById("swipe-2");
        Classroom.style.display = "block";
        school.style.display = "block";
    }
</script>



{% endblock content %}