{% extends 'base.html' %}
{% block title %}{{ request.user.get_full_name }} | Messages{% endblock title %}
{% block content%}
{% load staticfiles %}
<div class="white">
    <div class="row">
        <div class="col s12 m12 l4">
            <div>
                <div class="card">
                    <div class="card-image" style="height: 300px; overflow:hidden;">
                        {% if request.user.profile.photo.url is not None %}
                            <img src="{{ user.profile.photo.url }}" style="height:100%; object-fit: cover;">
                        {% elif request.user.gender == "female" %}
                            <img src="{% static "img/girl.svg" %}" style="object-fit:cover">
                        {% elif request.user.gender == "male" %}
                        <img src="{% static "img/boy.svg" %}" style="object-fit:cover">
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <p>
                            <h6>Name: &nbsp; <b>{{ request.user.get_full_name }}</b> </h6>
                        </p>
                        {% if request.user.is_student %}
                        <p>
                            <h6>Level: &nbsp; <b>{{ request.user.student_profile.level_and_section.level }}</b> </h6>
                        </p>
                        <p>
                            <h6>Section: &nbsp; <b>{{ request.user.student_profile.level_and_section.section }}</b> </h6>
                        </p>
                        <p>
                            <h6>Adviser &nbsp; <b>{{ request.user.student_profile.level_and_section.adviser.user.get_full_name }}</b> </h6>
                        </p>
                        {% elif request.user.is_teacher %}
                        <p>
                            <h6>Level: &nbsp; <b>{{ level_and_section.level }}</b> </h6>
                        </p>
                        <p>
                            <h6>Section: &nbsp; <b>{{ level_and_section.section }}</b> </h6>
                        </p>
                        {% elif request.user.is_staff %}
                        <p>
                            <h6>Position: &nbsp; <b>{{ request.user.staff_profile.position }}</b> </h6>
                        </p>
                        {% endif %}
                    </div>
                    <div class="card-action center">
                        <div class="row">
                            {% if request.user.is_student and request.user.student_profile.level_and_section.level.level %}
                            <a href="{% url 'grading_system:student_level_section_subject' request.user.student_profile.level_and_section.level.level request.user.student_profile.level_and_section.section %}" class="col s12">
                                Subjects
                            </a>
                            {% elif request.user.is_teacher %}
                                <a href="{% url 'grading_system:view_assigned_subject' %}" class="col s12">Subjects</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div>
            </div>
            <p>
                <label>
                    <input type="checkbox" onclick="hideClassroom()" />
                    <span>Clasroom Announcements Only</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="checkbox" onclick="hideClassroom()" />
                    <span>School Announcements Only</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="checkbox" onclick="showBoth()" />
                    <span>All Announcements</span>
                </label>
            </p>
        </div>
        <div class="col s12 m12 l8 white">

            <div id="swipe-1">
                <ul class="collection collapsible popout" data-collapsible="accordion">
                    {% for announcement in school_announcement %}

                    <li class="collection-item avatar z-depth-5">
                        {% if request.user == announcement.author %}
                        <h6 class="" style="font-size: 1rem;">You</h6>
                        {% else %}
                        <h6 class="" style="font-size: 1rem;">{{ announcement.author.get_full_name }}</h6>
                        {% endif %}
                        <div class="collapsible-header">
                            {% if announcement.author.profile.photo.url is not None %}
                                <img class="circle" src="{{ announcement.author.profile.photo.url }}" alt="{{ announcement.author.get_full_name }}" style="object-fit: cover; ">
                            {% elif announcement.author.gender == "female" %}
                                <img src="{% static "img/girl.svg" %}" alt="{{ announcement.author.get_full_name }}" style="object-fit:cover">
                            {% elif announcement.author.gender == "male" %}
                                <img src="{% static "img/boy.svg" %}" alt="{{ announcement.author.get_full_name }}" style="object-fit:cover">
                            {% endif %}
                            <span class="title">
                                <a href="{{ announcement.get_absolute_url }}">{{ announcement.title }}</a>
                            </span>
                        </div>

                        <div class="collapsible-body white">
                            <p class="black-text">
                                <div class="black-text">
                                    <h6> {{ announcement.body|linebreaks }}</h6>
                                </div>

                                {% if request.user == announcement.author %} <br>
                                <small>
                                    <a href="{{ announcement.get_absolute_url_for_edit }}">Edit</a>
                                    <a href="{{ announcement.get_absolute_url_for_delete }}" onclick="return confirm('Are you sure you want to DELETE {{ announcement.title }}')">Delete</a>
                                </small>
                                {% endif %}
                            </p>
                        </div>

                        <span>
                            <small>
                                Date Posted: {{ announcement.publish_date}} Updated: {{ announcement.updated }}
                            </small>
                            <br/>
                        </span>
                        <a href="#!" class="secondary-content"><i class="material-icons">mail_outline</i></a>
                    </li>
                    <div style="height:10px; visibility:none;"></div>
                    {% empty %}  <center><img src="{% static "img/astronaut.svg" %}" style="object-fit: fill; height: 300px"> <br> <h5><b>No Announcements So Far...</b></h5> </center> {% endfor %}
                </ul>
            </div>
            <div class="school-pagination">
                <span class="step-links">
                    {% if school_announcement.has_previous %}
                        <a href="?school_page=1">&laquo; first</a>
                        <a href="?school_page={{ school_announcement.previous_page_number }}">previous</a>
                    {% endif %}

                    {% if school_announcement %}
                    <span class="current right">
                        School Announcement(s) - Page {{ school_announcement.number }} of {{ school_announcement.paginator.num_pages }}.
                    </span>
                    {% endif %}
                
                    {% if school_announcement.has_next %}
                        <a href="?school_page={{ school_announcement.next_page_number }}">next</a>
                        <a href="?school_page={{ school_announcement.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            <br/>
            <hr>
            <div id="swipe-2">
                <ul class="collection collapsible popout" data-collapsible="accordion">
                    {% for announcement in group_announcement %}

                    <li class="collection-item avatar z-depth-5">
                        {% if request.user == announcement.author %}
                        <h6 class="" style="font-size: 1rem;">You</h6>
                        {% else %}
                        <h6 class="" style="font-size: 1rem;">{{ announcement.author.get_full_name }}</h6>
                        {% endif %}
                        <div class="collapsible-header">
                            {% if  announcement.author.profile.photo.url is not None %}
                                <img class="circle" src="{{ announcement.author.profile.photo.url }}" alt="" style="object-fit: cover; ">
                            {% elif  announcement.author.gender == "female" %}
                                <img class="circle" src="{% static "img/girl.svg" %}" alt="" style="object-fit: cover; ">
                            {% elif  announcement.author.gender == "male" %}
                                <img class="circle" src="{% static "img/boy.svg" %}" alt="" style="object-fit: cover; ">
                            {% endif %}
                            <span class="title">
                                <a href="{{ announcement.get_absolute_url }}">{{ announcement.title }}</a>
                            </span>
                        </div>

                        <div class="collapsible-body white">
                            <p class="black-text">
                                <div class="black-text">
                                    <h6> {{ announcement.body|linebreaks }}</h6>
                                </div>

                                {% if request.user == announcement.author %} <br>
                                <small>
                                    <a href="{{ announcement.get_absolute_url_for_edit }}">Edit</a>
                                    <a href="{{ announcement.get_absolute_url_for_delete }}" onclick="return confirm('Are you sure you want to DELETE {{ announcement.title }}')">Delete</a>
                                </small>
                                {% endif %}
                            </p>
                        </div>

                        <span>
                            <small>
                                Date Posted: {{ announcement.publish_date}} Updated: {{ announcement.updated }}
                            </small>
                            <br/>
                        </span>
                        <a href="#!" class="secondary-content"><i class="material-icons">mail_outline</i></a>
                    </li>
                    <div style="height:10px; visibility:none;"></div>
                    {% empty %}  <center><img src="{% static "img/bacteria.svg" %}" style="object-fit: fill; height: 300px"> <br> <h5><b>No Group Announcements So Far...</b></h5> </center>
                </ul> {% endfor %}
            </div>

            <div class="group-pagination">
                <span class="step-links">
                    {% if group_announcement.has_previous %}
                        <a href="?group_page=1">&laquo; first</a>
                        <a href="?group_page={{ group_announcement.previous_page_number }}">previous</a>
                    {% endif %}
                    
                    {% if group_announcement %}
                    <span class="current">
                        <em>Group Announcement </em> Page {{ group_announcement.number }} of {{ group_announcement.paginator.num_pages }}.
                    </span>
                    {% endif %}
                
                    {% if group_announcement.has_next %}
                        <a href="?group_page={{ group_announcement.next_page_number }}">next</a>
                        <a href="?group_page={{ group_announcement.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>    

        </div>
    </div>

    <br>
</div>
<script>
    function hideClassroom() {
        var school = document.getElementById("swipe-1");
        var Classroom = document.getElementById("swipe-2");
        if (Classroom.style.display === "none") {
            Classroom.style.display = "block";
            school.style.display = "none";
        } else {
            Classroom.style.display = "none";
            school.style.display = "block";
        }
    }

    function showBoth() {
        var school = document.getElementById("swipe-1");
        var Classroom = document.getElementById("swipe-2");
        Classroom.style.display = "block";
        school.style.display = "block";
    }
</script>



{% endblock content %}