<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>View Statement|{{ student_user.get_full_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>
    {% if account_statements %}
    <table border="1">
        <th>School Year</th>
        <th>Assessment</th>
        <th>Balance</th>
        <th>Date Created</th>
        <th>Updated</th>
        <th>Option</th>
        {% for statement in account_statements %}
        <tr>
            <td>{{ statement.school_year }}</td>
            <td>{{ statement.assessment }}</td>
            <td>{{ statement.balance }}</td>
            <td>{{ statement.date_created }}</td>
            <td>{{ statement.updated }}</td>
            <td><a href="#">Update</a>
                <a href="{% url 'accounting_transaction:delete_statement' statement.id student_user.get_full_name student_user.id %}"
                    onclick="return confirm('Are you sure you want to DELETE this Statement for {{ student_user.get_full_name }} ?')">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h3>No Account Statement/s for this Account yet..</h3>
    {% endif %}

    <div>
        <h2>Add Statement for {{ student_user.get_full_name }}</h2>
        <form method="POST" action="{% url 'accounting_transaction:view_statement' student_user.get_full_name student_user.id %}">
            {% csrf_token %}
            {{ add_statement_form.as_p }}
            <input type="submit" value="Submit" />
        </form>
    </div>


</body>

</html>