{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Change Password{% endblock title %}
{% block content %}
<div class="white">
	<br><br>
	<div class="container">
		{% if messages %}
		{% for message in messages %}
		{{ message }}
		{% endfor %}
		{% endif %}
		<form method="post" action="{% url 'account:change_password' %}">
			{% csrf_token %}
			{{ form.as_p }}
			<div class="center">
				<button class="btn btn-large waves-green waves-teal orange accent-3" type="submit"><i class="material-icons right">send</i>
					Submit</button>
				<button class="btn btn-large waves-green waves-teal indigo" type="reset"><i class="material-icons right">refresh</i>Reset</button>
			</div>
		</form>
	</div>
</div>
{% endblock content %}