{% extends 'base.html' %}
{% block title %}{{ request.user.get_full_name }} | Dashboard{% endblock title %}
{% block content %}
{% load staticfiles %}
<!-- FLOATING ACTION BUTTON -->


<div class="main white">
  <!--sidenav structure-->
  
  <div class="row">

    <!--Student Card-->
    <div class="col s9 m12 l9">&nbsp;</div>
    <!-- comment -->
    <div class="col s12 m12 l3">
      <div class="card">
        <div class="card-image" style="height: 300px; overflow:hidden;">
          {% if request.user.profile.photo.url is not None %}
            <img src="{{ request.user.profile.photo.url }}" style="height:100%; object-fit: cover;">
          {% elif request.user.gender == "female" %}
            <img src="{% static "img/girl.svg" %}" style="object-fit: cover;">
          {% elif request.user.gender == "male" %}
            <img src="{% static "img/boy.svg" %}" style="object-fit: cover;">
          {% endif %}
        </div>
        <div class="card-content">
          <p><h6>Name: &nbsp; <b>{{ request.user.get_full_name }}</b> </h6></p>
          {% if request.user.is_student %}
          <p><h6>LRN: &nbsp; <b>{{ request.user.student_profile.learner_reference_number }}</b> </h6></p>
            <p><h6>Level: &nbsp; <b>{{ request.user.student_profile.level_and_section.level }}</b> </h6></p>
            <p><h6>Section: &nbsp; <b>{{ request.user.student_profile.level_and_section.section }}</b> </h6></p>
            <p><h6>Adviser: &nbsp; <b>{{ request.user.student_profile.level_and_section.adviser.user.get_full_name }}</b> </h6></p>
            <p><h6>Parent/Guardian: &nbsp; <b>{{ request.user.student_profile.guardian }}</b></h6></p>
          {% elif request.user.is_teacher %}
            {% if level_and_section %}
              <p><h6>Designation: &nbsp; <b>Adviser/Instructor</b></h6></p>
              <p><h6>Level: &nbsp; <b>{{ level_and_section.level }}</b> </h6></p>
              <p><h6>Section: &nbsp; <b>{{ level_and_section.section }}</b> </h6>
            {% else %}
              <p><h6>Designation: &nbsp; <b>Instructor</b></h6></p>
              <p><h6>Year level: &nbsp; <b>{{ request.user.faculty_profile.designated_year_level.level }}</b> </h6></p>
            {% endif %}
          {% elif request.user.is_staff %}
            <p><h6>Position: &nbsp; <b>{{ request.user.staff_profile.position }}</b> </h6></p>
          {% endif %}
        </div>
        <div class="card-action center">
          <div class="row">
              {% if request.user.is_student and request.user.student_profile.level_and_section.level.level%}
                <a 
                href="{% url 'grading_system:student_level_section_subject' request.user.student_profile.level_and_section.level.level request.user.student_profile.level_and_section.section %}" 
                class="col s12">Subjects</a>
              {% elif request.user.is_teacher %}
                <a href="{% url 'grading_system:view_assigned_subject' %}" class="col s12">Subjects</a>
              {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
<!--END OF MAIN-->
  <div>
    <br>
    <br>
  </div>
</div>
{% endblock content %}

