{% extends 'base.html' %}
{% block title %}{{ user.get_full_name }} | Dashboard{% endblock title %}
{% block content %}
{% load staticfiles %}
<!-- FLOATING ACTION BUTTON -->


<div class="main white">
  <!--sidenav structure-->
  
  <div class="row">

    <!--Student Card-->
    <div class="col s9 m12 l9">&nbsp;</div>
    <!-- comment -->
    <div class="col s12 m12 l3">
      <div class="card">
        <div class="card-image" style="height: 300px; overflow:hidden;">
          {% if user.profile.photo.url is not None %}
          <img src="{{ user.profile.photo.url }}" style="height:100%; object-fit: cover;">
          {% else %}
          <img src="{% static "img/girl.svg" %}" style="object-fit: cover;">
          {% endif %}
        </div>
        <div class="card-content">
          <p>
            <h6>Name: &nbsp; <b>{{ user.get_full_name }}</b> </h6>
          </p>
          {% if user.is_student %}
          <p>
            <h6>Level: &nbsp; <b>{{ user.profile.level_and_section.level }}</b> </h6>
          </p>
          <p>
            <h6>Section: &nbsp; <b>{{ user.profile.level_and_section.section }}</b> </h6>
          </p>
          <p>
            <h6>Teacher &nbsp; <b>{{ teacher.get_full_name }}</b> </h6>
          </p>
          {% elif user.is_teacher %}
          <p>
            <h6>Level: &nbsp; <b>{{ user.profile.level_and_section.level }}</b> </h6>
          </p>
          <p>
            <h6>Section: &nbsp; <b>{{ user.profile.level_and_section.section }}</b> </h6>
          </p>
          {% endif %}
        </div>
        <div class="card-action center">
          <div class="row">
              <a href="#" class="col s12">Subjects</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--END OF MAIN-->
  <div>
    <br>
    <br>
  </div>
</div>
{% endblock content %}

